div.nospace {
	margin: 0px;
	padding: 0px;
}
ul.roomlist li.roommenuitem.selectedRoom {
	font-weight: bold;
	color: #000;
}

span.count {
	margin: auto .3em;
	padding: 2px 9px;
	font-size: 110%;
	/*font-weight: bold;*/
	background: #a66;
	color: #ddd;
	border-radius: 12px;
}

div.message.join {
	color: #060;
}
div.message.leave {
	color: #600;
}

p.userisme {
	font-weight: bold;
	color: #933;
}

img.userphoto {
	float: right;
	border: 1px solid #777;
}